/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background: 0;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:0px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:10;
}

input, select {
    vertical-align:middle;
}

@font-face {
    font-family: 'tileFont'; 
    src: url("fonts/pattaya/Pattaya-Regular.ttf");
}

@font-face {
    font-family: 'generalText'; 
    src: url("fonts/montserrat/Montserrat-Italic.ttf");
}

.nav {
	color: #80c0c0;
	font-size: 750%;
	font-family: tileFont;
	text-align: center;
	padding: 1%;
	text-shadow: #666666 3px 3px 3px;
	background-color: #f4d5d5;
	border-bottom: 5px solid lightgray;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

ul li {
	display: inline-block;
	margin: 0 12px;
	cursor: pointer;
	font-size: 30px;
	padding: 0;
	text-shadow: none;
}

ul li:hover a{
	color: #A9A9A9
}

ul li a {
	color: black;
	transition: all 0.5s ease;
	text-decoration: none;
	display: block;
}

.nav ul li ul {
	display: none;
	position: absolute;
	background-color: #E0E0E0;
	padding: 5px;
	border-radius: 0px 0px 5px 5px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.nav ul li:hover ul{
	display: block;
}

.nav ul li {
	position: relative;
	list-style: none;
}

.nav ul li ul li a {
	padding: 12px 14px;
	color: black;
}

.nav ul li ul li a:hover {
	color: #A9A9A9;
}

.nav ul li ul li {
	width: 150px;
	border-radius: 5px;
}

.about {
	font-size: 400%;
	font-family: tileFont;
	padding-left: 12%;
	padding-top: 7%;
	border-bottom: 5px solid lightgray;
}

p {
	font-size: 35%;
	padding-top: none;
	padding-left: 3% 
}

.profilePic {
	border: 2px solid black;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: absolute;
	left: 65%;
	top: 30%;
}

.projects {
	font-size: 400%;
	font-family: tileFont;
	padding-left: 12%;
	padding-top: 3%;
	background-color: #C0C0C0;
	border-bottom: 5px solid lightgray;
}

.text {
	font-family: generalText;
	font-size: 45%; 
}

.accomplishments {
	font-size: 400%;
	font-family: tileFont;
	padding-left: 12%;
	padding-top: 7%;
}
